
.main-tutorial-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin-inline: auto;
   
}
.tutorial-section {
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    min-width: 518px ;
}

.game-map-img {
    max-width: 400px;
}

.key-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.key-img {
    width: 100px;
}
.key-img >img{
    border-radius: 50%;
}

.avoid_demon_section {
    display: flex;
}



.keyboard-knight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 80%;
}


.knight-kb-img {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.keyboard-knight>p{
    text-align: center;
}


.golden-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.golden-section img {
    width: 100px;
}

.golden-section p {
    text-align: center;
}



.meet-us-text{
    width: 20%;
    margin-right: 100px;
}
.map-section img{
    width: 50%;
    border-radius: 24px;
}


.footer-section{
    display: flex;
    flex-wrap: wrap;
    background-image: url("/game/assets/setup-page/wood.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    justify-content: space-between;
    padding: 1vh 5vh;
    font-size: 48px;
}
.made-with{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.made-with img{ 
    max-width: 30vh;
    max-height: 30vh;
}
.contact-us{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vh;
    padding-bottom: 1vh;
}

.contact-us div{
    font-size: 40px;
}
