*{
    font-family: 'norse';
}
.how-to-play-section{
    background-image: url("../Assets/setup-page/btn-bg.jpg");
    display: flex;
    border-radius: 24px;
    margin: 28px 36px;
    padding: 25px;
    font-size: 48px;

}

.map-section{
    display: flex;
    border-radius: 24px;
    margin: 28px 36px;
    padding: 25px;
    font-size: 48px;
}
.meet-us-text{
    width: 20%;
    margin-right: 100px;
}
.map-section img{
    width: 50%;
    border-radius: 24px;
}


.footer-section{
    display: flex;
    background-image: url("../Assets/setup-page/btn-bg.jpg");
    height: 40vh;
    width: 100%;
    justify-content: space-between;
    padding: 1vh 5vh;
    font-size: 48px;
}
.made-with{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.made-with img{ 
    max-width: 30vh;
    max-height: 30vh;
}
.contact-us{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vh;
    padding-bottom: 1vh;
}

.contact-us div{
    font-size: 40px;
}