.setup-hero{
    background-image: url('/game/assets/setup-page/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'norse';
    height: 100vh;
}
.setup-hero> div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
.setup-hero h1{
    font-size: 5em;
}
.setup-hero p{
    text-align: center;
    width: 60%;
    font-size: 2em;
}
