
.setup-hero{
    background-image: url('/game/assets/setup-page/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'norse';
    height: 100vh;
}
.setup-hero> div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
    
}
.setup-hero h1{
    font-size: 5em;
}
.setup-hero p{
    text-align: center;
    width: 60%;
    font-size: 2em;
}
.setup-button-container{
    margin-top: 20px;
}
.setup-button-container>button,.setup-button-container>a{
    margin-top: 20px;
    padding: 10px 50px;
    color: white;
    background-image: url('/game/assets/setup-page/wood.svg');
    font-size: larger;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
}
.setup-button-container>button:hover,.setup-button-container>a:hover,.setup-characters-container>div:hover{
    animation: button-hover 0.7s infinite ease;
}
.setup-hero > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.setup-hero input{
    background-image: url('/game/assets/setup-page/btn-bg.jpg');
    padding: 20px;
    width: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'norse';
    letter-spacing: 5px;
    border-radius: 10px;
}

.disabled{
   opacity: 0.1;
   cursor: none;
   animation:none;
}
.setup-characters-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.setup-characters-container>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/game/assets/setup-page/wood.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 270px;
    width: 200px;
    gap: 20px;
    padding-top: 10px ;
    cursor: pointer;
}
.setup-characters-container>div:nth-child(1){
    padding-top: 0px ;
}
.setup-characters-container>div:nth-child(3){
    padding-top: 20px ;

}
.setup-character-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FABC3F;
    border-radius: 10px;
    height: 200px;
    gap: 6px;
    margin: 10px 0;
    width: 90%;
}
.setup-character-content>h2,.setup-character-content>p{
    text-align: center;
    width: 100%;
}
#alert{
    background-color: #FABC3F;
    width: fit-content;
    padding: 3em;
    position: absolute;
    top: 0;
    border-radius: 10px;
}
