.setup-hero{
    background-image: url('/game/assets/setup-page/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-family: 'norse';
    height: 100vh;
}
.setup-hero> div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 10px 0;
    
}
.setup-hero h1{
    font-size: 5em;
}
.setup-hero p{
    text-align: center;
    width: 60%;
    font-size: 2em;
}
.setup-button>button{
    margin-top: 20px;
    padding: 10px 50px;
    color: white;
    background-image: url('/assets/setup-page/btn-bg.jpg');
    font-size: larger;
}
.setup-button>button:hover{
    animation: button-hover 1s infinite ease;
}
