  
  .black-bg {
    background-color: #0000009a;
  }
  
  .yellow-bg{
    background-color: #FABC3F;
  }
  .white-bg {
    background-color: #D9D9D9;
  }
  
  
  .grey-bg {
    background-color: #f3f3f6;
  }
  
  .black-txt {
    color: #222651;
  }
  
  .white-txt {
    color: white;
  }
  
  .brown-txt {
    color: #6A3F07;
  }
  