@font-face {
    font-family: 'roman-uncial-modern' ;
    src: url('/assets/fonts/roman-uncial-modern/RomanUncialModern.ttf');
}
@font-face {
    font-family: "viking";
    src: url('/assets/fonts/viking/Viking.ttf');
}
@font-face {
    font-family: 'norse';
    src: url('/assets/fonts/norse/Norse.otf');
}
@font-face {
    font-family: 'norse';
    src: url('/assets/fonts/norse/Norse-Bold.otf');
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "norse";
}
input{
    outline: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    cursor: pointer;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 34px;   
}
@keyframes button-hover {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@media screen and (max-width:542px) {
    nav{
        padding-inline: 10px;

    }
    .nav-logo{
        width: 60px;
    }
    .hero-section{
        background-image: none;
    }
    .hero-section h1{
        font-size: 100px;
        color: white;
    }
    .hero-section button{
        background-image: url('/game/assets/setup-page/wood.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 260px;
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
  .main-tutorial-container{
    width: 200px;
    justify-content: center;
   
    }
    .tutorial-section{
        width:80%;
    }
    .game-map-img {
        max-width: 250px;
    }
    .knight-kb-img {
        width:100px
    }
    .key-section{
        flex-wrap: wrap;
    }
    .key-img{
        width: 70px;
    }
    p{
        width: 80%;
        margin-inline: auto;
    }
}
@media screen and (max-width:933px) {
    .nav-titles{
        display: none;
    }    
    .hamburger-menu{
        display: block;
    }
    .wood-container>h1{
        font-size: 90px;
    }
}
@media screen and (max-width:1102px) {
    .main-section{
        height: fit-content;
    } 
}
@media screen and (min-width:1620px) {
    nav,.nav-titles>button>a{
        font-size: 30px ;
    }
    .nav-logo{
        width: 100px;
    }
    .main-section{
        height: 100vh;
    } 

}